llama-index-core
llama-index-llms-openai
python-docx
python-dotenv
llama-index-readers-file
docx2txt
llama-index-embeddings-openai
llama-index
wandb
streamlit==1.36.0
spacy
nest-asyncio
llama-index-llms-bedrock-converse
scikit-learn
weave==0.51.1